/* general */

body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    max-width: 650px;
    margin: 20px auto;
}

/* heading */

h3, h4 {
    font-weight: bold;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 16px;
}

/* color */
.pepperoni-pizza {
    background-color: rgb(245, 211, 99);
}

.vanilla-ice-cream {
    background-color: rgb(255, 248, 220);
}

.chocolate-cake {
    background-color: rgb(240, 220, 180);
}

.color-gradient {
    background: linear-gradient(
        to right,
        rgb(245, 211, 99) 33.33%,
        rgb(255, 248, 220), 33.33%, rgb(255, 248, 220) 66.66%,
        rgb(240, 220, 180) 66.66%
    )
}

/* list */

li {
    margin: 5px;
}

ul, ol {
    display: inline-block;
    text-align: left;
}

/* image */
img {
    height: auto;
    width: 450px;
}